* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.dark * {
  color: #d2fff1;
}

.light * {
  color: black;
}

body {
  margin: 0;
}

body .dark {
  background-image: url(../Images/newyork.jpg);
  background-size: contain;
}

body .light {
  background-image: url(../Images/oceanBeach.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-pic {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-image: url(../Images/header.profile.JPG);
  background-size: cover;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

img {
  width: 100%;
}

.image-box {
  width: 75%;
  margin: auto;
}

a:hover {
  color: red;
}

.border {
  width: 80%;
  margin: 1.5rem auto 0;
}

.self {
  display: inline-flex;
  align-items: center;
}

.self h1 {
  padding-left: 1rem;
  font-size: 2.5rem;
}

#main-nav li {
  display: inline-flex;
  align-content: center;
  justify-content: flex-end;
  padding: 3px;
  font-size: 1.5rem;
  border-right: 2px dashed red;
}

#about-me {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  padding: 1rem;
}

#switch {
  position: relative;
  top: 0;
  left: 0;
}

.dark #about-me {
  background: #00000075;
}

.light #about-me {
  background: #ffffff75;
}

#about-me p {
  flex: 1;
  margin: auto;
  padding: 0.4rem;
  border: 2px dashed red;
  font-size: 1.5rem;
}

.sideprofile {
  flex: 1;
}

.sideprofile h2 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

.sideprofile img {
  border-radius: 145px;
  margin: auto;
  padding: 0 1rem;
}

#work {
  display: flex;
  margin-top: 3.5rem;
  padding: 1rem;
}

.dark #work {
  background: #00000075;
}

.light #work {
  background: #ffffff75;
}

#work h2 {
  font-size: 2.1rem;
  border-right: 4px dashed red;
  padding-right: 1rem;
}

.mywork {
  text-align: center;
}

/* div #main-work img {
  width: 75%;
  margin-left: 10px;
} */

.mywork img {
  margin: 1rem 0;
  width: 55%;
  border-radius: 15px;
}

.mywork img:hover {
  /* width: 80%; */
  box-shadow: 1px 1px 44px 12px rgba(255, 0, 0, 1);
  -webkit-box-shadow: 1px 1px 44px 12px rgba(255, 0, 0, 1);
  -moz-box-shadow: 1px 1px 44px 12px rgba(255, 0, 0, 1);
}
/* .mywork #main-work img:hover {
  width: 85%;
  box-shadow: 1px 1px 44px 12px rgba(255, 0, 0, 1);
  -webkit-box-shadow: 1px 1px 44px 12px rgba(255, 0, 0, 1);
  -moz-box-shadow: 1px 1px 44px 12px rgba(255, 0, 0, 1);
} */

#main-footer {
  margin-top: 2.5rem;
}

.dark #main-footer {
  background: #000000d4;
}

.light #main-footer {
  background: #ffffffd4;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1rem;
}

.footer-top h3 {
  font-size: 1.5rem;
  text-decoration: underline red;
  padding-bottom: 0.5rem;
}

.item-spacing li,
.item-spacing p {
  padding: 0.3rem;
  list-style: none;
}

.footer-bot {
  text-align: center;
  padding-top: 0.5rem;
}

@media screen and (max-width: 1200px) {
  #about-me {
    display: flex;
    flex-direction: column;
  }
  #switch {
    order: -5;
    position: relative;
    top: 0;
    margin: auto;
  }
  #about-me p {
    margin-top: 0.5rem;
  }
  .sideprofile {
    order: -1;
  }
  .sideprofile h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  #work h2 {
    font-size: 1.8rem;
    border-right: 4px dashed red;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0;
  }

  .links {
    padding-top: 1rem;
  }
}
