* {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #d2fff1;
}

body {
  background-image: url(../Images/newyork.jpg);
  background-size: contain;
  margin: 6px;
}

.header-pic {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-image: url(../Images/header.profile.JPG);
  background-size: cover;
}
a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 7px;
}

img {
  width: 100%;
}

a:hover {
  color: red;
}

.border {
  width: 80%;
  margin: 1.5rem auto 0;
}

.self {
  display: inline-flex;
  align-items: center;
}

.self h1 {
  padding-left: 1rem;
  font-size: 2.5rem;
}

#main-nav li {
  display: inline-flex;
  align-content: center;
  justify-content: flex-end;
  padding: 3px;
  font-size: 1.5rem;
  border-right: 2px dashed red;
}

#about-me {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  background: #00000075;
  padding: 1rem;
}

#about-me p {
  flex: 1;
  margin: auto;
  padding: 2px;
  border: 2px dashed red;
  margin-right: 1.5rem;
  font-size: 1.5rem;
}

.sideprofile {
  flex: 1;
}

.sideprofile h2 {
  font-size: 4.7rem;
  text-align: center;
  margin-bottom: 3rem;
}

.sideprofile img {
  border-radius: 145px;
  margin: 1rem auto;
}

#work {
  display: flex;
  margin-top: 3.5rem;
  padding: 1rem;
  background: #00000075;
}

#work h2 {
  font-size: 2.1rem;
  border-right: 4px dashed red;
}

.mywork {
  text-align: center;
}

.mywork img {
  margin: 1rem 0;
  width: 90%;
}

#main-footer {
  background: #000000d4;
  margin-top: 2.5rem;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-top h3 {
  font-size: 1.5rem;
  text-decoration: underline;
  padding-bottom: 0.5rem;
}

.item-spacing li,
.item-spacing p {
  padding: 0.3rem;
}

.footer-bot {
  text-align: center;
  padding-top: 0.5rem;
}

@media screen and (max-width: 620px) {
  #about-me {
    display: flex;
    flex-direction: column;
  }
  .sideprofile {
    order: -1;
  }
}
